<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    {% include 'emp/navbar.html' %}
    <h1 class="text-center my-3"> Testimonials Page</h1>

    <div class = "container">
      <div class = "row">
        <div class = "col-md-12">
           <div class = "card">
             <div clas="card-body">
               <table class="table">
                 <thead>
                 <tr>
                   <th>#SNO.</th>
                   <th>NAME</th>
                   <th>Testimonials</th>
                   <th>Ratings</th>


                 </tr>
                 </thead>
                 <tbody>
                 {% for t in testi %}
                 <tr>
<!--                  <td>{{e.id}}</td>-->
                     <td>
                         {{forloop.counter}}
                     </td>
                     <td>
                         <img style="max-width: 200px;max-height: 200px;"src="/media/{{t.picture}}" alt="">
                         {{t.name}}</td>
                     <td>{{t.testimonial}}</td>
                     <td>{{t.rating}}</td>

<!--                   <td>-->
<!--                     <a href="/emp/delete-emp/" class="btn btn-danger btn-sm" >DELETE</a>-->
<!--                     <a href="/emp/update-emp/" class="btn btn-dark btn-sm" >UPDATE</a>-->
<!--                   </td>-->

                 </tr>
                 {% endfor %}

                 </tbody>
               </table>
             </div>
           </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>