<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About our website</title>
</head>
<body>
     <div class="container" style = "text-align: center">
         {% include 'navbar.html' %}
         <h1>About our website</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut in repellendus sed! Animi aspernatur dolorem
             hic laborum magnam qui quis sit tempora? Aliquam animi asperiores cum doloremque ea eaque error, excepturi
             exercitationem ipsa itaque maxime natus neque quae quas quibusdam quidem quis quo reprehenderit sapiente
             sunt velit voluptate voluptates voluptatibus.</p>
         <button>contact us</button>
     </div>
</body>
</html>